@import '@/assets/styles/reset.scss';
@import '@/assets/styles/vars.scss';

body {
    background-color: $black;
    color: #fff;
    font-family: sans-serif;
    line-height: 1.25;
}

html, body {
    height: 100%;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header, .footer {
    flex-shrink: 0;
}

.main {
    flex-grow: 1;
}

.container {
    padding: 0 100px;
}