@import '@/assets/styles/reset.scss';
@import '@/assets/styles/grid.scss';
@import '@/assets/styles/fonts.scss';

body {
  background-color: #000210;
  color: #fff;
  font-family: 'Graphik LCG', sans-serif;
  line-height: 1.25;
}

html, body {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

.header, .footer {
  flex-shrink: 0;
}

.main {
  flex-grow: 1;
}

.container {
  padding: 0 50px;
  max-width: 1340px;
  margin: 0 auto;
  width: 100%;

  @media (max-width: 1000px) {
    padding: 0 20px;
  }

  @media (max-width: 479px) {
    padding: 0 16px;
  }
}

.row {
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -20px;
}

[class^=col] {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
}

h2 {
  color: #FDFDFD;
  text-transform: uppercase;
  font-family: 'Unbounded', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.4;
  margin-bottom: 40px;

  @media (max-width: 999px) {
    margin-bottom: 32px;
    font-size: 28px;
  }
}

h3 {
  font-family: 'Unbounded', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.4;
  margin-bottom: 20px;

  @media (max-width: 999px) {
    font-size: 20px;
  }
}